<!DOCTYPE html>
<html>

<head>
  <title>Reservas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <!-- Bloque de Presentación -->
  <div class="container-lg mt-5">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-primary" role="alert">
          <h4 class="alert-heading">Reservas</h4>
          <p>Reservas llevadas a cabo</p>
          <div>
            <button (click)="nuevo()" class="btn btn-info">Nuevo</button>
            <a href="/" class="btn btn-secondary ml-2">Volver al inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bloque de listado -->
  <div class="container-lg">
    <div class="card">
      <div class="card-header">
        <h3>Reservas</h3>
      </div>
      <div class="card-body">
        <div class="form-row">

          <!-- Bloque de búsqueda -->
          <div class="input-group">
            <div class="input-group-prepend input-group-span">
              <span class="input-group-text">Búsqueda</span>
            </div>
          
            <select class="custom-select" id="filtroColumna" [(ngModel)]="filtroColumna">
              <option value="" disabled selected hidden>Seleccionar columna</option>
              <option value="id">ID</option>
              <option value="comentario">Comentario</option>
              <option value="clienteId">Cliente</option>
              <option value="motivoReserva">Motivo Reserva</option>
              <option value="estadoId">Estado</option>
              <option value="espacioFisicoId">Espacio Fisico</option>
            </select>
          
            <input type="text" class="form-control" id="valorBusqueda" [(ngModel)]="valorBusqueda" placeholder="Ingresar valor de búsqueda">
            <div *ngIf="mostrarErrorValorBusqueda" class="text-danger">Debes ingresar un valor de búsqueda.</div>
          
            <div class="input-group-append input-group-buttons">
              <button class="btn btn-primary" type="button" (click)="aplicarFiltro()">Aplicar filtro</button>
              <button class="btn btn-secondary" type="button" (click)="limpiarFiltro()">Limpiar filtro</button>
            </div>
          </div>
          
          
          <!-- Bloque de ordenamiento -->
          <div class="input-group mt-3">
            <div class="input-group-prepend input-group-span">
              <span class="input-group-text">Ordenamiento</span>
            </div>
            
            <select class="custom-select" id="ordenSeleccionado" [(ngModel)]="sortDir">
              <option value="" disabled selected hidden>Seleccionar tipo de orden</option>
              <option value="asc">Ascendente</option>
              <option value="desc">Descendente</option>
            </select>
            
            <select class="custom-select" id="columnaSeleccionada" [(ngModel)]="sortColumn">
              <option value="" disabled selected hidden>Seleccionar columna</option>
              <option value="id">ID</option>
              <option value="comentario">Comentario</option>
              <option value="cliente">Cliente</option>
              <option value="motivoReserva">Motivo Reserva</option>
              <option value="estado">Estado</option>
              <option value="motivoRechazo">Motivo Rechazo</option>
              <option value="espacioFisico">Espacio Fisico</option>
              <option value="fechaHoraInicio">Fecha-Hora Inicio</option>
              <option value="fechaHoraCreacion">Fecha-Hora Creacion</option>
              <option value="fechaHoraFin">Fecha-Hora Fin</option>
            </select>
            
            <div class="input-group-append input-group-buttons">
              <button class="btn btn-primary" type="button" (click)="aplicarOrden()">Aplicar orden</button>
              <button class="btn btn-secondary" type="button" (click)="limpiarOrden()">Limpiar orden</button>
            </div>
          </div>
        </div>          

        <!-- Tabla -->
        <table class="table table-hover mt-4">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Espacio Fisico</th>
              <th scope="col">Cliente</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Horario</th>
              <th scope="col">Duracion</th>
              <th scope="col">Estado</th>
              <th scope="col">Motivo Reserva</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reserva of reservas">
              <td scope="row">{{reserva.id}}</td>
              <td scope="row">[{{reserva.espacioFisico.id}}] {{reserva.espacioFisico.nombre}}</td>
              <td scope="row">[{{reserva.cliente.id}}] {{reserva.cliente.nombre}}</td>
              <td scope="row">{{formatDate(reserva.fechaHoraInicio)}}</td>
              <td scope="row">{{formatDate(reserva.fechaHoraFin)}}</td>
              <td scope="row">{{formatTime(reserva.fechaHoraInicio) +" - "+ formatTime(reserva.fechaHoraFin)}}</td>
              <td scope="row">{{parseMinutes(reserva.duracion)}}</td>
              <td scope="row">[{{reserva.estado.id}}] {{reserva.estado.nombre}}</td>
              <td scope="row">{{reserva.motivoReserva}}</td>
              <td scope="row">
                <button (click)="editar(reserva)" class="btn btn-warning">Editar</button>
                <button (click)="delete(reserva)" class="btn btn-danger ml-2">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!--Paginación-->
        <div class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="paginaActual === 0">
              <a class="page-link" (click)="irAPagina(paginaActual - 1)">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let numeroPagina of getArrayPaginas()" [class.active]="numeroPagina === paginaActual">
              <a class="page-link" (click)="irAPagina(numeroPagina)">{{numeroPagina + 1}}</a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === totalPaginas - 1">
              <a class="page-link" (click)="irAPagina(paginaActual + 1)">Siguiente</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
