<br><br>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Estados</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input [(ngModel)]="estado.nombre" name="nombre" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Descripcion</label>
                    <input [(ngModel)]="estado.descripcion" name="descripcion" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Color</label>
                    <input [(ngModel)]="estado.color" name="color" type="text" class="form-control">
                </div>
                <br>
                <button (click)="Guardar(estado)" class="btn btn-danger" style="margin-left: 10px;">Guardar</button>
                <a href="/listar" class="btn btn-secondary" style="margin-left: 10px;">Volver</a>
            </form>
        </div>
    </div>
</div>