<div class="container col-md-6 mt-4">
  <div class="card">
    <div class="card-header">
      <h3>Modificar Estado</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group mt-2">
          <label for="">Id</label>
          <input [(ngModel)]="estado.id" name="id" type="text" class="form-control" disabled>
        </div>
        <div class="form-group mt-2">
          <label for="">Nombre</label>
          <input [(ngModel)]="estado.nombre" name="nombre" type="text" class="form-control">
          <div *ngIf="nombreError" class="text-danger">Debe completar el nombre</div>
        </div>
        <div class="form-group mt-2">
          <label for="">Descripción</label>
          <input [(ngModel)]="estado.descripcion" name="descripcion" type="text" class="form-control">
          <div *ngIf="descripcionError" class="text-danger">Debe completar la descripción</div>
        </div>
        <div class="form-group mt-2">
          <label for="">Color</label>
          <input [(ngModel)]="estado.color" name="color" type="color" class="form-control">
          <div *ngIf="colorError" class="text-danger">Debe completar el color</div>
        </div>
        <br>
        <button (click)="actualizar(estado)" class="btn btn-primary" style="margin-left: 10px;">Actualizar</button>
        <a href="/listar-estados" class="btn btn-secondary" style="margin-left: 10px;">Volver</a>
      </form>
    </div>
  </div>
</div>