<!DOCTYPE html>
<html>

<head>
  
</head>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-primary" role="alert">
          <h4 class="alert-heading">Estados</h4>
          <p>Los estados son una forma de determinar en qué situación se encuentra por ejemplo una reserva.</p>
          <div class="col-12">
            <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
            <a href="/" class="btn btn-secondary">Volver al inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Estados</h3>
      </div>
      <div class="card-body">
        <div class="form-row">
          <h4>Búsqueda</h4>
          <div class="col-md-4 mb-3">
            <label for="filtroColumna"></label>
            <div class="select-wrapper">
              <select class="form-control" id="filtroColumna" [(ngModel)]="filtroColumna">
                <option value="" disabled selected hidden>Seleccionar columna</option>
                <option value="id">ID</option>
                <option value="nombre">Nombre</option>
                <option value="descripcion">Descripción</option>
                <option value="color">Color</option>
              </select>
              <div class="select-arrow"></div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <input type="text" class="form-control" id="valorBusqueda" [(ngModel)]="valorBusqueda" placeholder="Ingresar valor de búsqueda">
          </div>
          <div class="col-md-4 mb-3">
            <button class="btn btn-primary mr-2" (click)="aplicarFiltro()">Aplicar filtro</button>
            <button class="btn btn-secondary" (click)="limpiarFiltro()">Limpiar filtro</button>
          </div>
        </div>
        <div class="form-row">
          <h4>Ordenamiento</h4>
          <div class="col-md-4 mb-3">
            <label for="ordenSeleccionado"></label>
            <div class="select-wrapper">
              <select class="form-control" id="ordenSeleccionado" [(ngModel)]="ordenSeleccionado">
                <option value="" disabled selected hidden>Seleccionar tipo de orden</option>
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
              </select>
              <div class="select-arrow"></div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="columnaSeleccionada"></label>
            <div class="select-wrapper">
              <select class="form-control" id="columnaSeleccionada" [(ngModel)]="columnaSeleccionada">
                <option value="" disabled selected hidden>Seleccionar columna</option>
                <option value="id">ID</option>
                <option value="nombre">Nombre</option>
                <option value="descripcion">Descripción</option>
                <option value="color">Color</option>
              </select>
              <div class="select-arrow"></div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <button class="btn btn-primary mr-2" (click)="aplicarOrden()">Aplicar orden</button>
            <button class="btn btn-secondary" (click)="limpiarOrden()">Limpiar orden</button>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">DESCRIPCION</th>
              <th scope="col">COLOR</th>
              <th scope="col">ACCIÓN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estado of estados | slice:(paginaActual*elementosPorPagina):(paginaActual*elementosPorPagina)+elementosPorPagina">
              <td scope="row">{{estado.id}}</td>
              <td>{{estado.nombre}}</td>
              <td>{{estado.descripcion}}</td>
              <td>{{estado.color}}</td>
              <td>
                <button (click)="Editar(estado)" class="btn btn-warning">Editar</button>
                <button (click)="Delete(estado)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item" [class.disabled]="paginaActual === 0">
              <a class="page-link" (click)="irAPagina(paginaActual - 1)">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let pagina of paginasTotales() ; let i = index" [class.active]="pagina === paginaActual">
              <a class="page-link" (click)="irAPagina(pagina)">{{pagina + 1}}</a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === totalPaginas - 1">
              <a class="page-link" (click)="irAPagina(paginaActual + 1)">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>

</html>
